section{
	width: 1240px;
	height: 545px;
	margin: 100px auto;
}
div.pic{
	width: 700px;
	height: 485px;
	border-radius: 10px;
	background: #EEEEEE;
	padding: 60px 40px ;
}
h1{
	font-size: 50px;
}
p{
	font-size: 20px;
	line-height: 60px;
	color: #515151;
}
.loginimage{
	width: 700px;
	height: 400px;
	background: url('../img/zzr.jpeg') 0 0 / cover no-repeat;
}
.login{
	width: 340px;
	height: 485px;
	padding: 60px 0;
}
div.enter{
	width: 300px;
	height: 
}
h2{
	font-size: 45px;
	text-align: center;
}
.input{
	padding: 20px 0 0;
	text-align: center; 
}
input{
	width: 200px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	padding-left: 10px;
}
.btn{
	padding: 20px 85px;
	font-size: 14px;
}
.loginin{
	padding: 7px  9px;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	cursor: pointer;
}
.regester{
	padding: 7px  9px;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	cursor: pointer;
}




